<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    
     <script>
      MathJax = {
        tex: {
          packages: ['base'],        // extensions to use
          inlineMath: [              // start/end delimiter pairs for in-line math
            ['\\(', '\\)']
          ],
          displayMath: [             // start/end delimiter pairs for display math
            ['$$', '$$'],
            ['\\[', '\\]']
          ],
          processEscapes: true,      // use \$ to produce a literal dollar sign
          processEnvironments: true, // process \begin{xxx}...\end{xxx} outside math mode
          processRefs: true,         // process \ref{...} outside of math mode
          digits: /^(?:[0-9]+(?:\{,\}[0-9]{3})*(?:\.[0-9]*)?|\.[0-9]+)/,
                                     // pattern for recognizing numbers
          tags: 'ams',              // or 'ams' or 'all'
          tagSide: 'right',          // side for \tag macros
          tagIndent: '0.8em',        // amount to indent tags
          useLabelIds: true,         // use label name rather than tag for ids
          maxMacros: 1000,           // maximum number of macro substitutions per expression
          maxBuffer: 5 * 1024,       // maximum size for the internal TeX string (5K)
          baseURL:                   // URL for use with links to tags (when there is a <base> tag in effect)
             (document.getElementsByTagName('base').length === 0) ?
              '' : String(document.location).replace(/#.*$/, '')),
          formatError:               // function called when TeX syntax errors occur
              (jax, err) => jax.formatError(err)
        }
      };
    </script>    
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
